*{
    box-sizing: border-box;
}

body{
    background-color: #F2F2F2;
}

.content-center{
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;
}

.content-center .text-center{
    text-align: center;
}

.content-center img{
    width: 70%;
}

.content-center form{
    margin: 20px;
}

.content-center input,
.content-center button{
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input{
    border-bottom-color: #CCC;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center button{
    background-color: rgb(180, 76, 76);
    color: #FFF;
}

.content-center button:hover{
    background: rgb(170, 53, 53);
    cursor: pointer;
}

.content-center button:active{
    background: rgb(241, 76, 76);
    cursor: pointer;
}